In [1]:
import pandas as pd
import numpy as np

In [2]:
import csv
data = pd.read_csv('/Users/urvashikohale/Downloads/2019.csv', quoting=csv.QUOTE_NONE)

In [3]:
data.head()

,"""FL_DATE""","""OP_UNIQUE_CARRIER""","""OP_CARRIER_FL_NUM""","""ORIGIN""","""DEST""","""DEP_TIME""","""DEP_DELAY""","""TAXI_OUT""","""WHEELS_OFF""","""WHEELS_ON""",...,"""ARR_TIME""","""ARR_DELAY""","""AIR_TIME""","""DISTANCE""","""CARRIER_DELAY""","""WEATHER_DELAY""","""NAS_DELAY""","""SECURITY_DELAY""","""LATE_AIRCRAFT_DELAY""",Unnamed: 20
0,2019-01-01,"""9E""","""3280""","""GNV""","""ATL""","""0601""",1.0,22.0,"""0623""","""0714""",...,"""0722""",-1.0,51.0,300.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-01,"""9E""","""3281""","""MSP""","""CVG""","""1359""",-5.0,15.0,"""1414""","""1629""",...,"""1633""",-36.0,75.0,596.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01,"""9E""","""3282""","""DTW""","""CVG""","""1215""",-5.0,18.0,"""1233""","""1323""",...,"""1329""",-16.0,50.0,229.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,"""9E""","""3283""","""TLH""","""ATL""","""1521""",-6.0,14.0,"""1535""","""1618""",...,"""1625""",-14.0,43.0,223.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01,"""9E""","""3284""","""ATL""","""FSM""","""1847""",-15.0,18.0,"""1905""","""1935""",...,"""1940""",-25.0,90.0,579.0,NaN,NaN,NaN,NaN,NaN,NaN

Column names have extra quotes - so removed it

In [4]:
data.columns = data.columns.str.replace('"', '').str.strip()
print(data.columns)

Index(['FL_DATE', 'OP_UNIQUE_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON',
       'TAXI_IN', 'ARR_TIME', 'ARR_DELAY', 'AIR_TIME', 'DISTANCE',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY', 'Unnamed: 20'],
      dtype='object')

Columns and Explanation:

*   FL_DATE: Date of the flight (could be used for time-based features like day of the week or month).
*   OP_UNIQUE_CARRIER: Airline code (categorical feature).
*   OP_CARRIER_FL_NUM: Flight number (might be used for identifying specific flight patterns, but typically not useful directly in modeling).
*   ORIGIN: Airport code for departure (categorical feature).
*   DEST: Airport code for arrival (categorical feature).
*   DEP_TIME: Departure time (numeric, but may require transformation into useful features like time of day).
*   DEP_DELAY: Delay in departure time (this could be the target variable if you're predicting delays).
*   TAXI_OUT: Time spent taxiing out (could be a factor in delays).
*   WHEELS_OFF: Time when the plane takes off.
*   WHEELS_ON: Time when the plane lands.
*   TAXI_IN: Time spent taxiing in after landing.
*   ARR_TIME: Arrival time.
*   ARR_DELAY: Delay in arrival (this could also be a target variable for prediction, particularly for regression).
*   AIR_TIME: Time spent in the air (could be useful for predicting delays or understanding operational efficiency).
*   DISTANCE: Distance of the flight (could be a feature affecting delays).


!! BELOW columns are empty!! <--hence removed it

> *   CARRIER_DELAY: Delay caused by the airline (numeric, could be used for regression).
*   WEATHER_DELAY: Delay caused by weather (numeric, could be used for regression).
*   NAS_DELAY: Delay caused by the National Aviation System (numeric).
*   SECURITY_DELAY: Delay caused by security-related issues (numeric).
*   LATE_AIRCRAFT_DELAY: Delay caused by a previous aircraft being late (numeric).

**Regression: Predicting continuous delay times, such as ARR_DELAY or DEP_DELAY, using features like CARRIER_DELAY, WEATHER_DELAY, and DISTANCE.**

In [5]:
#drop empty column

columns_to_drop = ['CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY', 'Unnamed: 20']

# Drop the columns
data = data.drop(columns=columns_to_drop)

# Verify if the columns were removed
print(data.columns)

Index(['FL_DATE', 'OP_UNIQUE_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON',
       'TAXI_IN', 'ARR_TIME', 'ARR_DELAY', 'AIR_TIME', 'DISTANCE'],
      dtype='object')

In [6]:
# shape of the dataset (rows and columns)
print(f"Shape of the dataset: {data.shape}")

Shape of the dataset: (7422037, 15)

In [7]:

# data types of each column
print(f"Data types:\n{data.dtypes}")

Data types:
FL_DATE               object
OP_UNIQUE_CARRIER     object
OP_CARRIER_FL_NUM     object
ORIGIN                object
DEST                  object
DEP_TIME              object
DEP_DELAY            float64
TAXI_OUT             float64
WHEELS_OFF            object
WHEELS_ON             object
TAXI_IN              float64
ARR_TIME              object
ARR_DELAY            float64
AIR_TIME             float64
DISTANCE             float64
dtype: object

In [8]:
# missing values
print(f"Missing values:\n{data.isnull().sum()}")

Missing values:
FL_DATE                   0
OP_UNIQUE_CARRIER         0
OP_CARRIER_FL_NUM         0
ORIGIN                    0
DEST                      0
DEP_TIME                  0
DEP_DELAY            130110
TAXI_OUT             133977
WHEELS_OFF                0
WHEELS_ON                 0
TAXI_IN              137647
ARR_TIME                  0
ARR_DELAY            153805
AIR_TIME             153805
DISTANCE                  0
dtype: int64

**Dropping missing values**

In [9]:
print(data.isnull().sum())

FL_DATE                   0
OP_UNIQUE_CARRIER         0
OP_CARRIER_FL_NUM         0
ORIGIN                    0
DEST                      0
DEP_TIME                  0
DEP_DELAY            130110
TAXI_OUT             133977
WHEELS_OFF                0
WHEELS_ON                 0
TAXI_IN              137647
ARR_TIME                  0
ARR_DELAY            153805
AIR_TIME             153805
DISTANCE                  0
dtype: int64

In [10]:
data = data.dropna()

In [11]:
print(data.isnull().sum())

FL_DATE              0
OP_UNIQUE_CARRIER    0
OP_CARRIER_FL_NUM    0
ORIGIN               0
DEST                 0
DEP_TIME             0
DEP_DELAY            0
TAXI_OUT             0
WHEELS_OFF           0
WHEELS_ON            0
TAXI_IN              0
ARR_TIME             0
ARR_DELAY            0
AIR_TIME             0
DISTANCE             0
dtype: int64

In [12]:
# Check for duplicates in the dataset
duplicates = data.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

**Feature Engineering - IMP**

In [13]:
'''
expanded date column into day, month, year
FL_DATE : 2019-01-01
Day : 1
Month : 1
Year : 2019

'''

data['FL_DATE'] = pd.to_datetime(data['FL_DATE'])
data['year'] = data['FL_DATE'].dt.year
data['month'] = data['FL_DATE'].dt.month
data['day'] = data['FL_DATE'].dt.day

In [14]:
data.head()

,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,ARR_TIME,ARR_DELAY,AIR_TIME,DISTANCE,year,month,day
0,2019-01-01,"""9E""","""3280""","""GNV""","""ATL""","""0601""",1.0,22.0,"""0623""","""0714""",8.0,"""0722""",-1.0,51.0,300.0,2019,1,1
1,2019-01-01,"""9E""","""3281""","""MSP""","""CVG""","""1359""",-5.0,15.0,"""1414""","""1629""",4.0,"""1633""",-36.0,75.0,596.0,2019,1,1
2,2019-01-01,"""9E""","""3282""","""DTW""","""CVG""","""1215""",-5.0,18.0,"""1233""","""1323""",6.0,"""1329""",-16.0,50.0,229.0,2019,1,1
3,2019-01-01,"""9E""","""3283""","""TLH""","""ATL""","""1521""",-6.0,14.0,"""1535""","""1618""",7.0,"""1625""",-14.0,43.0,223.0,2019,1,1
4,2019-01-01,"""9E""","""3284""","""ATL""","""FSM""","""1847""",-15.0,18.0,"""1905""","""1935""",5.0,"""1940""",-25.0,90.0,579.0,2019,1,1

In [15]:
def convert_time(x):
    # Remove quotes if they exist
    x = str(x).replace('"', '').zfill(4)
    # Handle NaN/empty values
    if x == 'nan' or len(x) < 4:
        return np.nan
    return int(x[:2]) + int(x[2:])/60

data['dep_time_hour'] = data['DEP_TIME'].apply(convert_time)
data['arr_time_hour'] = data['ARR_TIME'].apply(convert_time)

'''

DEP_TIME : 0601
dep_time_hour : 6.016667

ARR_TIME : 0722
arr_time_hour : 7.366667

'''

'\n\nDEP_TIME : 0601\ndep_time_hour : 6.016667\n\nARR_TIME : 0722\narr_time_hour : 7.366667\n\n'

In [16]:
data.head()

,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,ARR_TIME,ARR_DELAY,AIR_TIME,DISTANCE,year,month,day,dep_time_hour,arr_time_hour
0,2019-01-01,"""9E""","""3280""","""GNV""","""ATL""","""0601""",1.0,22.0,"""0623""","""0714""",8.0,"""0722""",-1.0,51.0,300.0,2019,1,1,6.016667,7.366667
1,2019-01-01,"""9E""","""3281""","""MSP""","""CVG""","""1359""",-5.0,15.0,"""1414""","""1629""",4.0,"""1633""",-36.0,75.0,596.0,2019,1,1,13.983333,16.550000
2,2019-01-01,"""9E""","""3282""","""DTW""","""CVG""","""1215""",-5.0,18.0,"""1233""","""1323""",6.0,"""1329""",-16.0,50.0,229.0,2019,1,1,12.250000,13.483333
3,2019-01-01,"""9E""","""3283""","""TLH""","""ATL""","""1521""",-6.0,14.0,"""1535""","""1618""",7.0,"""1625""",-14.0,43.0,223.0,2019,1,1,15.350000,16.416667
4,2019-01-01,"""9E""","""3284""","""ATL""","""FSM""","""1847""",-15.0,18.0,"""1905""","""1935""",5.0,"""1940""",-25.0,90.0,579.0,2019,1,1,18.783333,19.666667

In [17]:
data['time_of_day'] = pd.cut(
    data['dep_time_hour'],
    bins=[0,6,12,18,24],
    labels=['night','morning','afternoon','evening'],
    right=False
)

In [18]:
data.head()

,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,...,ARR_TIME,ARR_DELAY,AIR_TIME,DISTANCE,year,month,day,dep_time_hour,arr_time_hour,time_of_day
0,2019-01-01,"""9E""","""3280""","""GNV""","""ATL""","""0601""",1.0,22.0,"""0623""","""0714""",...,"""0722""",-1.0,51.0,300.0,2019,1,1,6.016667,7.366667,morning
1,2019-01-01,"""9E""","""3281""","""MSP""","""CVG""","""1359""",-5.0,15.0,"""1414""","""1629""",...,"""1633""",-36.0,75.0,596.0,2019,1,1,13.983333,16.550000,afternoon
2,2019-01-01,"""9E""","""3282""","""DTW""","""CVG""","""1215""",-5.0,18.0,"""1233""","""1323""",...,"""1329""",-16.0,50.0,229.0,2019,1,1,12.250000,13.483333,afternoon
3,2019-01-01,"""9E""","""3283""","""TLH""","""ATL""","""1521""",-6.0,14.0,"""1535""","""1618""",...,"""1625""",-14.0,43.0,223.0,2019,1,1,15.350000,16.416667,afternoon
4,2019-01-01,"""9E""","""3284""","""ATL""","""FSM""","""1847""",-15.0,18.0,"""1905""","""1935""",...,"""1940""",-25.0,90.0,579.0,2019,1,1,18.783333,19.666667,evening

In [19]:
# Convert FL_DATE to datetime if not already done
data['FL_DATE'] = pd.to_datetime(data['FL_DATE'])

# Create DayOfWeek column (0=Monday, 6=Sunday)
data['DayOfWeek'] = data['FL_DATE'].dt.dayofweek

In [20]:
data.tail()

,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,...,ARR_DELAY,AIR_TIME,DISTANCE,year,month,day,dep_time_hour,arr_time_hour,time_of_day,DayOfWeek
7422032,2019-12-31,"""B6""","""846""","""MCO""","""SWF""","""1500""",64.0,20.0,"""1520""","""1726""",...,52.0,126.0,989.0,2019,12,31,15.000000,17.516667,afternoon,1
7422033,2019-12-31,"""B6""","""854""","""DCA""","""BOS""","""1414""",-6.0,15.0,"""1429""","""1526""",...,-17.0,57.0,399.0,2019,12,31,14.233333,15.550000,afternoon,1
7422034,2019-12-31,"""B6""","""860""","""PHL""","""BOS""","""0652""",-8.0,12.0,"""0704""","""0746""",...,-34.0,42.0,280.0,2019,12,31,6.866667,7.850000,morning,1
7422035,2019-12-31,"""B6""","""861""","""BOS""","""SJU""","""0812""",-1.0,10.0,"""0822""","""1245""",...,-27.0,203.0,1674.0,2019,12,31,8.200000,12.800000,morning,1
7422036,2019-12-31,"""B6""","""862""","""SJU""","""BOS""","""0431""",2.0,10.0,"""0441""","""0712""",...,-16.0,211.0,1674.0,2019,12,31,4.516667,7.366667,night,1